.player-info__container {
  @apply flex gap-3 items-center;
}

.player-info__avatar {
  @apply w-16 h-16 rounded-full
}

.player-info-username {
  @apply text-secondary text-[2rem] font-bold;
  font-family: "Roboto Serif", serif;
}

.player-info-id {
  @apply text-primary text-sm font-light;
  font-family: "Rajdhani", sans-serif;
}

.section-title__container {
  @apply w-full
}

.section-title__content {
  @apply flex items-center justify-center h-full w-full bg-secondary rounded-xl
}

.filters__container {
  @apply text-sm font-medium text-secondary flex items-center gap-4 h-8
}

.filters-title__container {
  @apply bg-card border border-border h-full px-4 flex items-center justify-center rounded-2xl
}

.filters__title {
  @apply text-secondary
}

.filters__list {
 @apply h-full flex gap-2
}

.filters__list-item, .filters__list-item-active {
  @apply h-full px-3 rounded-2xl transition-all duration-200
}

.filters__list-item-active {
  @apply bg-primary text-card;
}

.personal-hero-stats-card {
  @apply relative h-16 w-full px-2.5 py-2 rounded-2xl bg-card border border-border flex justify-between
}
.dsr-bar {
  @apply w-[100px] h-2 bg-[#d9d9d9] rounded-full
}

.dsr-bar-value {
  @apply absolute h-full left-0 top-0 w-[35%] bg-[#2ecc9a] rounded-full
}

.gradient-layout {
  @apply absolute top-0 left-0 h-[500px] w-dvw -z-10 opacity-30;
  background: linear-gradient(
          to bottom,
          #527B69 0%,
          #1F302B 30%,
          #0E1512 90%
  );
}



.general-stats {
  @apply flex flex-col gap-2;
}

.general-stats__card-title {
  @apply text-xs text-secondary font-light
}

.general-stats__card-subtitle {
  @apply text-base font-medium text-primary
}

.general-stats__card-container {
 @apply grid grid-cols-4 gap-2.5
}

.general-stats__card {
  @apply bg-card border border-border rounded-xl px-3 py-2 col-span-2
  flex items-center
}

.general-stats__card-content {
@apply flex w-full justify-between
}

.general-stats__card-value {
  @apply text-[2rem] font-medium text-secondary;
}

.general-stats__card-stat {
  @apply aspect-square bg-card border border-border rounded-xl flex flex-col items-center justify-center;
}

.chart-btn {
  @apply text-base text-primary font-medium px-3 py-1.5 rounded-xl transition-all duration-200
}

.radar-chart {
  @apply w-full max-w-xs mx-auto;
}

.chart-gradient {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-[160%] h-[160%] -z-20;
  background: radial-gradient(circle, rgba(31, 48, 43, 0.8) 0%, rgba(97, 150, 134, 0) 60%);
}

.chart-circle {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-[20%] h-[20%] rounded-full -z-10;
  background: #1F302B;
}


.stat-title {
  @apply text-base font-medium text-secondary;
}

.stat-card {
  @apply w-[170px] h-[170px] flex flex-col rounded-2xl
}

.stat-title {
  @apply py-4 px-1 border-border border-b
}

.stat-col {
  @apply flex flex-col items-center justify-center;
}

.stat-body {
  @apply flex-1;
  display: grid;
  grid-template-columns:  1fr 1px 1fr;
}

.stat-value {
  @apply text-[2rem] font-medium text-secondary;
}

.stat-label {
  @apply relative text-[12px] text-secondary font-light -top-1
}

.vertical-divider {
  @apply bg-border w-px h-full;
}