@import "tailwindcss";
@import "../pcss/main.pcss";
@theme {
  --color-page:        #0E1512;
  /*--color-section:     #1a2e1e;*/
  --color-card:        #172420;

  --color-border:        #1F302B;
  --default-border-color: var(--color-border);

  --color-primary:   #D4A843;
  --color-secondary: #EAD8C1;
  --color-muted:     #D6D4C8;
}

@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif_28pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/RobotoSerif_28pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/roboto-serif/RobotoSerif_28pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Serif";
  src: url("/fonts/roboto-serif/RobotoSerif_28pt-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani";
  src: url("/fonts/rajdhani/Rajdhani-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html, body {
  overflow-x: hidden;
}

* {
  font-family:  "Roboto Serif", serif;
}
